* {
    padding: 0;
    margin: 0;
    background-color: black;
}
.header {
    background-color: black;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-block;
    height: 50px;
    padding: 10px;
}

.nav-link {
    display: inline-block;
    color: seashell;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    text-decoration: underline;
    padding: 10px;
    opacity: 0.9;
}

.mission {
    display: flex;
    justify-content: center;
}

.background-image-one {
    height: 700px;
    width: 1200px;
}

.mission-statement {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 1200px;
    font-family: Helvetica;
    color: seashell;
    font-size: 22px;
    opacity: 0.9;
    text-align: center;
    padding: 7px;
}

.selection-image {
    height: 200px;
    width: 300px;
}

.selection-text {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    width: 300px;
}

.tea-selections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.tea-of-month-header {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 50px;
}

.location-section {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*a18pil*_ga*MzQwNjAzMjIzNS4xNjcxMzAyNTQz*_ga_3LRZM6TM9L*MTY3NTM2ODAzMy41Ny4xLjE2NzUzNjgwMzguNTUuMC4w);
    height: 500px;
    width: 1200px;
    background-position: center;
    margin: 0 auto;
}

.location-text {
    font-family: Helvetica;
    color: seashell;
    font-size: 22px;
    background-color: transparent;
    position: absolute;
    position: absolute;
}

.location-one {
    background-color: black;
    height: 300px;
    width: 300px;
}

.location-two {
    background-color: black;
    height: 300px;
    width: 300px;
}

.location-three {
    background-color: black;
    height: 300px;
    width: 300px;
}

.locations {
    display: flex;
    width: 1200px;
    height: 500px;
    justify-content: center;
}